<section class="signup">
  <h1>SIGN UP</h1>

  <form action="" class="signup__form">
    <Label>Full Name</Label>
    <input type="text" title="Name Input" placeholder="Full Name Here..." />

    <Label>Email</Label>
    <input type="email" title="Email Input" placeholder="Email Here..." />

    <Label>Password</Label>
    <input
      type="password"
      title="Password Input"
      placeholder="Password Here..."
    />

    <Label>Confirm Password</Label>
    <input
      type="password"
      title="Password Input"
      placeholder="Confirm Password "
    />

    <button type="submit" title="Sign Up button">Sign Up</button>

    <p>Already have an account? <a routerLink="">Log In</a></p>
  </form>
</section>
