@use "../../../scss/util" as u;

.all {
  padding-block: u.rem(50);
  padding-inline: var(--PADDING-INLINE-SM);
  position: relative;
  min-height: 100svh;

  h2 {
    font-size: u.rem(40);
  }

  .search-container {
    width: 90%;
    height: 40px;
    background-color: white;
    border-radius: u.rem(10);
    box-shadow: var(--BOX-SHADOW);
    margin-top: u.rem(20);
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    position: relative;

    input {
      width: 85%;
      height: 100%;
      border: none;
      padding: 10px;
      border-radius: u.rem(10);
      color: var(--FONT-COLOR-SUB);

      &:active {
        border: none;
      }
    }

    button {
      position: absolute;
      right: u.rem(5);
      top: 50%;
      transform: translate(-50%, -50%);
      border: none;
      background: none;
      i {
        display: grid;
        place-items: center;

        svg {
          height: 25px;
          width: 25px;
        }
      }

      &:hover {
        border-bottom: 3px solid var(--MAIN-COLOR);
      }
    }
  }

  &__categories {
    margin-top: u.rem(40);

    .categories-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .button-container {
        margin-left: auto;

        display: flex;
        align-items: center;
        gap: var(--SM-GAP);

        button {
          background-color: var(--MAIN-COLOR);
          border: none;
          border-radius: 100%;
          padding: u.rem(5);
          box-shadow: var(--BOX-SHADOW);

          i {
            display: grid;
            place-items: center;

            svg {
              height: 24px;
              width: 24px;
              fill: white;
            }
          }

          &:last-child {
            background-color: var(--ERROR-BG-COLOR);
          }
        }
      }
    }

    .carousel-container {
      display: flex;
      flex-direction: row;
      gap: var(--SM-GAP);
      overflow: scroll;
      margin-top: u.rem(10);

      .categories-carousel {
        cursor: pointer;
        padding-bottom: u.rem(20);
        button {
          height: 150px;
          width: 150px;
          background: white;
          box-shadow: var(--BOX-SHADOW);
          border-radius: u.rem(10);
          border: none;
          display: grid;
          place-items: center;
          position: relative;
          overflow: hidden;
          z-index: 1;
          background: rgb(255, 255, 255);
          background: var(--CAROUSEL-BG-GRADIENT);

          figure {
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            z-index: -1;

            img {
              width: 100%;
              height: 100%;
              opacity: 0.5;
              object-fit: cover;
            }
          }

          p {
            font-size: u.rem(34);
            font-weight: 700;
            color: white;
            background-color: var(--BG-COLOR-HOVER);
            padding: u.rem(10);
            border-radius: u.rem(10);
          }
        }
      }
    }
  }

  &__display {
    margin-top: u.rem(40);

    .display-header {
      display: flex;
      align-items: center;

      button {
        padding: u.rem(9);
        background-color: var(--MAIN-COLOR);
        font-size: u.rem(10);
        border-radius: u.rem(10);
        box-shadow: var(--BOX-SHADOW);
        border: none;
        font-weight: 700;
        color: white;
        margin-left: auto;
      }
    }

    .display-info-container {
      margin-top: u.rem(20);
      display: flex;
      flex-direction: column;
      gap: var(--M-GAP);

      .display-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90px;
        width: 100%;
        background-color: white;
        border-radius: u.rem(10);
        padding: 10px 15px;
        gap: var(--M-GAP);

        figure {
          height: 100%;
          width: 80px;
          background-color: var(--SUB-COLOR);
          border-radius: u.rem(10);
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
        .item-info {
          display: flex;
          flex-direction: column;
          gap: u.rem(5);

          .price-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--SM-GAP);
          }

          p {
            font-size: u.rem(12);
            font-weight: 700;
            color: var(--SUB-COLOR);

            span {
              color: var(--SUB-COLOR-DARK);
            }
          }
        }

        button {
          height: 40px;
          width: 40px;
          border: none;
          border-radius: 100%;
          box-shadow: var(--BOX-SHADOW);
          background-color: var(--MAIN-COLOR);
          margin-left: auto;

          i {
            display: grid;
            place-items: center;

            svg {
              height: 15px;
              width: 15px;
            }
          }
        }
      }
    }
  }

  .category-input {
    position: absolute;
    padding-inline: var(--PADDING-INLINE-SM);
    right: 0;
    left: 0;

    bottom: u.rem(10);
    min-height: u.rem(300);

    padding: u.rem(20);
    background-color: white;
    border-radius: u.rem(20);
    box-shadow: var(--BOX-SHADOW);
    z-index: 1;

    -webkit-animation: scale-in-ver-bottom 0.2s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-ver-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    form {
      display: flex;
      flex-direction: column;

      gap: var(--SM-GAP);

      label {
        font-size: u.rem(14);
        font-weight: 700;
      }
      figure {
        height: 200px;
        width: 100%;
        background-color: gainsboro;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      input {
        height: 100%;
        border: none;
        padding: 10px;
        border-radius: u.rem(10);
        color: var(--FONT-COLOR-SUB);
        box-shadow: var(--BOX-SHADOW);
        &:active {
          border: none;
        }
      }

      button {
        background-color: var(--SUB-COLOR);
        padding: u.rem(10);
        border: none;

        border-radius: u.rem(10);
        box-shadow: var(--BOX-SHADOW);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--SM-GAP);

        .loading {
          height: 24px;
          width: 24px;
          display: grid;
          place-items: center;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

        p {
          font-weight: 700;
          color: white;
        }
      }

      .error-container {
        margin-bottom: u.rem(5);
        p {
          font-size: u.rem(12);
          color: var(--FONT-COLOR-ERROR);
        }
      }
    }
  }

  .category-delete {
    position: absolute;
    padding-inline: var(--PADDING-INLINE-SM);
    right: 0;
    left: 0;

    bottom: u.rem(10);
    min-height: u.rem(300);
    max-height: u.rem(500);
    padding: u.rem(20);
    background-color: white;
    border-radius: u.rem(20);
    box-shadow: var(--BOX-SHADOW);
    z-index: 1;
    overflow: hidden;
    -webkit-animation: scale-in-ver-bottom 0.2s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-ver-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;

    figure {
      height: 50px;
      width: 50px;

      img {
        width: 100%;
        height: 100%;

        object-fit: fill;
      }
    }

    .category-container {
      overflow: scroll;
      height: 400px;
      width: auto;
      padding: u.rem(30);
      .category-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--SM-GAP);

        padding: u.rem(10);
        border-radius: u.rem(10);

        p {
          font-weight: 700;
        }

        button {
          background: none;
          border: none;
          margin-left: auto;
          cursor: pointer;
          i {
            display: grid;
            place-items: center;

            svg {
              height: 30px;
              width: 30px;
              fill: var(--FONT-COLOR-ERROR);
            }
          }
        }

        &:hover {
          background-color: var(--BG-COLOR-HOVER);
        }
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-14 22:14:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
