@use "../../../scss/util/" as u;

.credit {
  min-height: 100svh;
  position: relative;

  &__compute {
    height: u.rem(250);

    background-color: var(--SUB-COLOR);
    color: white;
    padding: u.rem(20);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    box-shadow: var(--BOX-SHADOW);

    .border {
      width: 2px;
      height: 100%;
      background-color: white;
    }

    .compute-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: u.rem(5);

      h2 {
        font-size: u.rem(50);
        line-height: 1.5;
      }
    }
  }

  &__info {
    padding-inline: var(--PADDING-INLINE-SM);
    margin-top: u.rem(20);

    input {
      border: none;
      padding: u.rem(10) u.rem(15);
      border-radius: u.rem(10);
      width: 100%;
      margin-bottom: u.rem(30);
    }

    .info-header {
      margin-bottom: u.rem(10);
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: var(--MAIN-COLOR);
        padding: u.rem(10);
        border-radius: u.rem(20);
        box-shadow: var(--BOX-SHADOW);
        border: none;

        font-size: u.rem(12);
        font-weight: 700;
        color: white;
      }
    }

    .info-container {
      display: flex;
      align-items: center;
      gap: var(--SM-GAP);

      padding: u.rem(10);
      border-radius: u.rem(10);

      p {
        font-weight: 700;

        &:last-child {
          color: var(--MAIN-COLOR);
          background-color: white;
          padding: u.rem(10) u.rem(15);
          border-radius: u.rem(20);
          margin-left: auto;
          box-shadow: var(--BOX-SHADOW);
          min-width: u.rem(100);
        }
      }
      i {
        display: grid;
        place-items: center;
        padding: u.rem(10);
        background-color: white;
        border-radius: 100%;
        box-shadow: var(--BOX-SHADOW);

        svg {
          height: 20px;
          width: 20px;
        }
      }

      &:hover,
      &:focus {
        background-color: var(--SUB-COLOR);

        p:nth-child(2) {
          color: white;
        }
      }
    }
  }

  .credit-wrapper {
    position: absolute;
    top: u.rem(-50);
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: end;
    padding-inline: var(--PADDING-INLINE-SM);
    .credit-container {
      padding: var(--PADDING-INLINE-SM);
      width: 100%;
      border-radius: u.rem(10);
      min-height: max-content;
      background-color: white;
      h3 {
        margin-bottom: u.rem(20);
      }

      form {
        input {
          padding: u.rem(10);
          border-radius: u.rem(10);
          box-shadow: var(--BOX-SHADOW);
          width: 100%;
          border: 1px solid var(--SUB-COLOR);
        }

        .button-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: var(--SM-GAP);

          margin-top: u.rem(20);

          button {
            padding: u.rem(10);
            font-weight: 700;
            color: white;
            font-size: u.rem(18);
            border: none;
            border-radius: u.rem(10);
            box-shadow: var(--BOX-SHADOW);

            &:first-child {
              background-color: var(--SUB-COLOR);
            }

            &:last-child {
              background-color: var(--MAIN-COLOR);
            }
          }
        }
      }
    }
  }

  .more-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: u.rem(20);

    .more-wrapper {
      background-color: white;
      width: 100%;
      border-radius: u.rem(10);
      height: 100%;
      padding: u.rem(20);

      .more-header {
        display: flex;
        justify-content: space-between;

        i {
          display: grid;
          place-items: center;
          svg {
            height: 24px;
            width: 24px;
            fill: var(--FONT-COLOR-ERROR);
          }
        }
      }

      .total-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--SM-GAP);
        margin-block: u.rem(20);
        border: 2px solid var(--MAIN-COLOR);
        padding: u.rem(20);
        border-radius: u.rem(10);
        position: relative;
      }

      .nav-container {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid var(--SUB-COLOR-DARK);

        button {
          background: transparent;
          border: none;
          color: var(--SUB-COLOR);
          width: 100%;
          font-weight: 700;
          font-size: u.rem(12);
          padding: u.rem(10);

          &:hover {
            background-color: var(--MAIN-COLOR);
            color: white;
          }
        }
      }

      .date-wrapper {
        height: 55%;
        margin-top: u.rem(30);
        overflow: scroll;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        gap: var(--M-GAP);
        padding: u.rem(20);
        border-radius: u.rem(10);
        .date-container {
          border: 2px solid var(--SUB-COLOR);
          border-radius: u.rem(10);
          padding: u.rem(10);

          position: relative;
          cursor: pointer;

          .date-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              font-weight: 700;
            }

            i {
              display: grid;
              place-items: center;

              svg {
                height: 20px;
                width: 20px;
                fill: var(--MAIN-COLOR);
              }
            }
          }

          .item-wrapper {
            margin-top: u.rem(20);
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: var(--SM-GAP);

            .item-container {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }

      .history-wrapper {
        height: 60%;
        margin-top: u.rem(30);
        overflow: scroll;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        gap: var(--M-GAP);
        padding: u.rem(20);
        border-radius: u.rem(10);
      }

      .payment-form {
        position: absolute;
        bottom: 4%;
        left: 10%;
        right: 10%;

        .input-wrapper {
          display: flex;
          flex-direction: column;
          gap: u.rem(5);

          label {
            font-size: u.rem(14);
            font-weight: 700;
          }

          input {
            padding: u.rem(10);
            border-radius: u.rem(10);
            width: 100%;
            border: 1px solid var(--SUB-COLOR);
          }
        }

        .credit-button {
          padding: u.rem(10);
          width: 100%;
          margin-top: u.rem(10);
          border: none;
          border-radius: u.rem(50);
          background-color: var(--MAIN-COLOR);
          font-weight: 700;
          color: white;
          font-size: u.rem(14);
        }
      }
    }
  }
}
