@use "../../../scss/util/" as u;

.inventory {
  padding-inline: var(--PADDING-INLINE-SM);
  padding-block: var(--PADDING-BLOCK-SM);
  min-height: 100svh;
  position: relative;

  &__info {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: var(--M-GAP);

    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--SUB-COLOR-DARK);
      width: 100%;
      height: 100%;
      padding: 30px;
      border-radius: 10px;
      gap: var(--SM-GAP);
      border: none;

      i {
        display: grid;
        place-items: center;

        svg {
          height: 30px;
          width: 30px;
          fill: white;
        }
      }

      p {
        color: white;
        font-weight: 700;

        &:nth-child(2) {
          color: rgba(255, 255, 255, 0.856);
        }
      }

      &:nth-child(2) {
        background-color: var(--MAIN-COLOR);
      }

      &:nth-child(3) {
        background-color: var(--SUB-COLOR);
      }
    }
  }

  .sub-text {
    color: var(--FONT-COLOR-SUB);
    margin-top: u.rem(50);
  }

  &__carousel {
    margin-top: u.rem(25);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: var(--SM-GAP);

    .carousel-container {
      padding: 15px 10px;
      width: u.rem(150);
      border-radius: u.rem(10);
      display: flex;
      flex-direction: column;
      gap: var(--SM-GAP);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      figure {
        height: u.rem(100);
        border: 1px solid var(--MAIN-COLOR);

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      p {
        color: var(--SUB-COLOR-DARK);
        font-weight: 700;
      }

      .bottom-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: u.rem(10);
        p {
          color: var(--FONT-COLOR-SUB);
          font-size: u.rem(12);
          span {
            color: var(--SUB-COLOR-DARK);
          }
        }
      }
    }
  }

  .add-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    bottom: u.rem(20);
    background-color: var(--MAIN-COLOR);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-shadow: var(--BOX-SHADOW);
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;

    i {
      display: grid;
      place-items: center;
      fill: white;

      svg {
        height: 30px;
        width: 30px;
      }
    }
  }

  .add-menu {
    position: absolute;
    bottom: u.rem(70);
    left: 50%;
    transform: translate(-50%, -50%);

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: var(--SM-GAP);
      align-items: center;
      justify-content: center;

      li {
        padding: u.rem(10);
        border-radius: u.rem(40);
        background-color: var(--MAIN-COLOR);
        box-shadow: var(--BOX-SHADOW);

        a {
          font-size: u.rem(14);
          font-weight: 700;
          color: white;
        }
      }
    }
  }
}
