<section class="add-item">
  <section class="add-item__img">
    <figure>
      <img [src]="imgSrc" alt="Item Banner" />
    </figure>

    <button
      type="button"
      title="camera button"
      class="img-button"
      *ngIf="selectedImg == ''"
      (click)="uploader.click()"
    >
      <i>
        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"
          />
        </svg>
      </i>
    </button>

    <input hidden type="file" #uploader (change)="showPreview($event)" />
  </section>

  <section class="add-item__form">
    <p *ngIf="itemBarcode != ''">Barcode No: <span>1312923299</span></p>
    <form #f="ngForm" action="" (submit)="onSubmit(f.value)">
      <label for="Name">Item</label>
      <input
        type="text"
        name="Item Name"
        id="Name"
        title="Item Name"
        placeholder="Item Name Here"
        ngModel
        name="itemName"
        #itemName="ngModel"
        required
      />
      <div class="error-container" *ngIf="itemName.touched && itemName.invalid">
        <p *ngIf="itemName.errors?.['required']">Name Cannot Be Empty</p>
      </div>

      <label for="Quantity">Quantity</label>
      <input
        #qty
        type="number"
        name="Quantity"
        id="Quantity"
        title="Item Name"
        min="0"
        placeholder="Quantity"
        ngModel
        name="itemQty"
        #itemQty="ngModel"
        (change)="getQuantity(qty.value)"
        required
      />

      <div class="error-container" *ngIf="itemQty.touched && itemQty.invalid">
        <p *ngIf="itemQty.errors?.['required']">Quantity Cannot Be Empty</p>
      </div>

      <div class="price-input">
        <label for="">Price(PHP)</label>
        <p class="price-text">Total</p>
        <input
          #price
          type="number"
          title="Price"
          placeholder="Bought Price Here"
          ngModel
          name="itemPrc"
          #itemPrc="ngModel"
          (change)="getPrice(price.value)"
          required
        />
        <p class="total">{{ totalPrice | currency : "PHP" }}</p>

        <label for="">Selling Price(PHP)</label>
        <p class="price-text">Profit</p>
        <input
          #selling
          type="number"
          title="Price"
          placeholder="Selling Price Here"
          ngModel
          name="itemSel"
          #itemSel="ngModel"
          (change)="getSelling(selling.value)"
          required
        />
        <p class="total">{{ totalProfit | currency : "PHP" }}</p>
      </div>

      <div class="error-container" *ngIf="itemPrc.touched && itemPrc.invalid">
        <p *ngIf="itemPrc.errors?.['required']">Item Price Cannot Be Empty</p>
      </div>

      <div class="error-container" *ngIf="itemSel.touched && itemSel.invalid">
        <p *ngIf="itemSel.errors?.['required']">
          Selling Price Cannot Be Empty
        </p>
      </div>

      <label for="">Category</label>
      <select
        name="Category"
        id=""
        title="Category"
        ngModel
        name="itemCat"
        #itemCat="ngModel"
        required
      >
        <option value=""></option>
        <option [value]="data.category" *ngFor="let data of $catData | async">
          {{ data.category }}
        </option>
      </select>
      <div class="error-container" *ngIf="itemCat.touched && itemCat.invalid">
        <p *ngIf="itemQty.value?.['']">Quantity Cannot Be Empty</p>
      </div>

      <button type="submit" title="Add Item" [disabled]="f.invalid">
        Add Item
      </button>
    </form>
  </section>
</section>
