<section class="receipt">
  <section class="receipt__info">
    <div class="header-container">
      <h4>
        Receipt: <span>#{{ receiptNo }}</span>
      </h4>

      <h4>
        Date: <span>{{ date }}</span>
      </h4>

      <p>
        Time: <span>{{ time }}</span>
      </p>
    </div>

    <section class="item-container">
      <div class="item-info" *ngFor="let data of cartService.cartData">
        <p>{{ data.itemName }}</p>
        <P class="price">{{
          data.itemQty * data.itemPrice | currency : "PHP"
        }}</P>
        <p class="qty">
          Qty: <span>{{ data.itemQty }}</span>
        </p>
      </div>
    </section>

    <section class="item-computation">
      <p>Subtotal</p>
      <p class="price">{{ cartService.getTotal() | currency : "PHP" }}</p>

      <p>Payment</p>
      <input
        #payment
        type="number"
        placeholder="Payment Here..."
        (change)="paymentVal(payment.value)"
      />

      <p *ngIf="errorPayment" class="error">
        Invalid Payment Please Check Again
      </p>

      <div class="border"></div>

      <p>Change</p>
      <p class="price">{{ change | currency : "PHP" }}</p>
    </section>
  </section>

  <div class="button-container">
    <button type="button" title="Credit Button" (click)="creditTab()">
      Credit
    </button>
    <button
      type="button"
      title="Paid Button"
      (click)="paid()"
      [disabled]="errorPayment"
    >
      Paid
    </button>
  </div>

  <div class="credit-wrapper glass-background" *ngIf="isCredit">
    <section class="credit-container">
      <h3>Credit Tab</h3>
      <section class="credit">
        <input
          ngModel
          name="name"
          #Name="ngModel"
          type="text"
          placeholder="Search Name Here..."
          required
        />

        <div class="error-container" *ngIf="Name.touched && Name.invalid">
          <p *ngIf="Name.errors?.['required']">Name Cannot Be Empty</p>
        </div>

        <div class="selected-container" *ngIf="showSelected">
          <p>
            Name Selected: <span>{{ nameSelected }}</span>
          </p>
          <p>
            Total Credit: <span>{{ totalCredit | currency : "PHP" }}</span>
          </p>
          <p>
            Item Total:
            <span>{{ cartService.getTotal() | currency : "PHP" }}</span>
          </p>
          <p>
            New Total Credit: <span>{{ newTotal | currency : "PHP" }}</span>
          </p>
        </div>
        <div class="name-container" *ngIf="!showSelected">
          <button
            type="button"
            class="name"
            *ngFor="let name of $name | async"
            (click)="saveId(name)"
          >
            <p>{{ name.creditName }}</p>
            <p>{{ name.subTotal | currency : "PHP" }}</p>
          </button>
        </div>

        <div class="button-container">
          <button type="submit" (click)="close()">{{ backButton }}</button>
          <button *ngIf="showSelected" type="submit" (click)="credit()">
            Proceed
          </button>
        </div>
      </section>
    </section>
  </div>
</section>
