@use "../../../scss/util/" as u;

.receipt {
  padding-inline: var(--PADDING-INLINE-SM);

  height: 100dvh;
  position: relative;

  &__info {
    min-height: 70svh;
    background-color: white;
    width: 100%;
    margin-top: u.rem(50);
    padding: u.rem(20);
    border-radius: u.rem(10);
    box-shadow: var(--BOX-SHADOW);

    .header-container {
      margin-bottom: u.rem(30);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      gap: var(--SM-GAP);

      p {
        font-size: u.rem(12);
        place-self: start;
      }

      span {
        color: var(--MAIN-COLOR);
      }
    }

    .price {
      margin-left: u.rem(100);
    }
    p {
      font-weight: 700;
    }

    .item-container {
      min-height: u.rem(150);
      max-height: u.rem(200);
      border-bottom: 2px dashed var(--SUB-COLOR);
      display: flex;
      flex-direction: column;
      gap: var(--SM-GAP);

      overflow: scroll;
      scroll-behavior: smooth;
      .item-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .qty {
          font-size: u.rem(14);
          color: var(--SUB-COLOR);
        }
      }
    }

    .item-computation {
      padding-block: u.rem(20);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: var(--M-GAP);
      align-items: center;

      .border {
        grid-area: span;
        width: 100%;
        height: 2px;
        background-color: var(--SUB-COLOR);
        grid-column: 1 / 3;
      }

      .error {
        grid-column: 1 / 3;
        font-size: u.rem(12);
        color: var(--FONT-COLOR-ERROR);
      }

      input {
        margin-left: auto;
        font-size: u.rem(12);
        padding-inline: u.rem(10);
        width: 50%;

        padding: 10px;
      }
    }
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--SM-GAP);

    margin-top: u.rem(20);

    button {
      padding: u.rem(10);
      font-weight: 700;
      color: white;
      font-size: u.rem(18);
      border: none;
      border-radius: u.rem(10);
      box-shadow: var(--BOX-SHADOW);

      &:first-child {
        background-color: var(--SUB-COLOR);
      }

      &:last-child {
        background-color: var(--MAIN-COLOR);
      }
    }
  }

  .credit-wrapper {
    position: absolute;
    top: u.rem(-50);
    bottom: u.rem(50);
    left: 0;
    right: 0;

    display: flex;
    align-items: end;
    padding-inline: var(--PADDING-INLINE-SM);
    .credit-container {
      padding: var(--PADDING-INLINE-SM);
      width: 100%;
      border-radius: u.rem(10);
      min-height: max-content;
      background-color: white;
      box-shadow: var(--BOX-SHADOW);
      h3 {
        margin-bottom: u.rem(20);
      }

      .credit {
        input {
          padding: u.rem(10);
          border-radius: u.rem(10);
          box-shadow: var(--BOX-SHADOW);
          width: 100%;
          border: 1px solid var(--SUB-COLOR);
        }

        .selected-container {
          width: 100%;
          margin-block: u.rem(10);
          border: 1px solid var(--SUB-COLOR);
          border-radius: u.rem(10);
          padding: u.rem(10);

          p {
            font-size: u.rem(14);
            font-weight: 700;
            margin-bottom: u.rem(10);

            &:last-child {
              margin-bottom: 0;
            }
          }
          span {
            margin-left: u.rem(5);
            color: var(--SUB-COLOR-DARK);
          }
        }
        .name-container {
          padding: u.rem(10);
          max-height: 400;
          overflow: scroll;

          .name {
            display: flex;
            justify-content: space-between;
            gap: u.rem(5);
            padding: u.rem(10);
            background: none;
            width: 100%;
            border: none;

            p {
              font-size: u.rem(14);
              font-weight: 700;
            }

            &:hover {
              background-color: var(--MAIN-COLOR);
              color: white;
              border-radius: u.rem(5);
            }
          }
        }
      }
    }
  }
}
