<section class="receipt">
  <section class="receipt__info">
    <h3>Receipt: <span>#12212</span></h3>

    <section class="item-container">
      <div class="item-info">
        <p>Sample Item Name</p>
        <P class="price">{{ "24" | currency : "PHP" }}</P>
        <p class="qty">Qty: <span>12</span></p>
      </div>

      <!--  -->
      <div class="item-info">
        <p>Sample Item Name</p>
        <P class="price">{{ "24" | currency : "PHP" }}</P>
        <p class="qty">Qty: <span>12</span></p>
      </div>

      <div class="item-info">
        <p>Sample Item Name</p>
        <P class="price">{{ "24" | currency : "PHP" }}</P>
        <p class="qty">Qty: <span>12</span></p>
      </div>

      <div class="item-info">
        <p>Sample Item Name</p>
        <P class="price">{{ "24" | currency : "PHP" }}</P>
        <p class="qty">Qty: <span>12</span></p>
      </div>

      <div class="item-info">
        <p>Sample Item Name</p>
        <P class="price">{{ "24" | currency : "PHP" }}</P>
        <p class="qty">Qty: <span>12</span></p>
      </div>

      <div class="item-info">
        <p>Sample Item Name</p>
        <P class="price">{{ "24" | currency : "PHP" }}</P>
        <p class="qty">Qty: <span>12</span></p>
      </div>
    </section>

    <section class="item-computation">
      <p>Subtotal</p>
      <p class="price">{{ "23" | currency : "PHP" }}</p>

      <p>Payment</p>
      <input type="number" placeholder="Payment Here..." />

      <div class="border"></div>

      <p>Change</p>
      <p class="price">{{ "23" | currency : "PHP" }}</p>
    </section>
  </section>

  <div class="button-container">
    <button type="button" title="Credit Button">Credit</button>
    <button type="button" title="Paid Button">Paid</button>
  </div>
</section>
