<section class="login">
  <h1>LOG IN</h1>

  <form
    #f="ngForm"
    action=""
    class="login__form"
    (ngSubmit)="onSubmit(f.value)"
  >
    <div class="login-error" *ngIf="isSuccess">
      <p>The Email or Password is Wrong</p>
    </div>

    <Label>Email</Label>
    <input
      ngModel
      name="email"
      type="email"
      title="Email Input"
      placeholder="Email Here..."
    />

    <Label>Password</Label>
    <input
      ngModel
      name="password"
      type="password"
      title="Password Input"
      placeholder="Password Here..."
    />

    <div class="bottom-container">
      <input type="checkbox" title="Remember me" />
      <p>Remember Me</p>

      <a href="">Forgot Password?</a>
    </div>

    <button type="submit" title="Log in button">Log In</button>

    <p>Create an account Sign Up? <a routerLink="/signup">Sign Up</a></p>
  </form>
</section>
