@use "../scss/util/" as u;

.main {
  max-width: u.rem(500);
  min-height: 100svh;

  margin: auto;
  border: 1px solid var(--MAIN-COLOR);
  box-shadow: var(--BOX-SHADOW);
  border-radius: u.rem(20);
}
