@use "../scss/util/" as u;

.main {
  max-width: u.rem(500);
  height: 100dvh;

  margin: auto;
  border: 1px solid var(--MAIN-COLOR);
  box-shadow: var(--BOX-SHADOW);

  overflow: hidden;

  background-color: hsl(0, 0%, 93%);
}
