@use "../util" as u;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font: inherit;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: u.$font;
  background-color: hsl(0, 0%, 93%);
}
