:root {
  --MAIN-COLOR: hsl(179, 44%, 55%);
  --SUB-COLOR: hsl(213, 30%, 32%);
  --SUB-COLOR-DARK: hsl(225, 40%, 18%);
  --ERROR-BG-COLOR: hsla(4, 100%, 61%, 0.412);
  --BG-COLOR-HOVER: hsla(213, 30%, 32%, 0.315);

  --FONT-COLOR-SUB: hsla(225, 39%, 18%, 0.493);
  --FONT-COLOR-ERROR: hsl(349, 100%, 35%);
}
