@use "../../../scss/util/" as u;

.sales {
  padding-inline: var(--PADDING-INLINE-SM);
  padding-block: var(--PADDING-BLOCK-SM);

  &__dash {
    padding-block: u.rem(15);
    background-color: white;
    border-radius: u.rem(10);
    box-shadow: var(--BOX-SHADOW);

    .item-container {
      min-height: u.rem(250);
      padding-inline: u.rem(20);
      display: flex;
      flex-direction: column;
      gap: var(--SM-GAP);
      border-bottom: 2px dashed var(--SUB-COLOR);

      .item {
        background-color: white;
        box-shadow: var(--BOX-SHADOW);
        padding: u.rem(10);
        height: 60px;
        display: flex;
        gap: var(--M-GAP);
        border-radius: u.rem(10);

        figure {
          height: 100%;
          width: 45px;
          background-color: var(--SUB-COLOR);
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
        .item-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .price-container {
            display: flex;
            gap: var(--SM-GAP);
            align-items: center;
          }
          h4 {
            font-size: u.rem(14);
          }

          p {
            font-size: u.rem(12);
            font-weight: 700;
            color: var(--FONT-COLOR-SUB);
          }
        }

        .quantity {
          display: flex;
          align-items: center;
          gap: var(--SM-GAP);
          margin-left: auto;
          background-color: var(--MAIN-COLOR);
          height: 100%;
          width: max-content;
          border-radius: u.rem(20);

          p {
            color: white;
            font-weight: 700;
            -webkit-user-select: none;
            user-select: none;
          }
          button {
            background-color: var(--MAIN-COLOR);
            border: none;
            padding: u.rem(5);
            cursor: pointer;
            border-radius: 20px;

            i {
              display: grid;
              place-items: center;

              svg {
                fill: white;
                height: 20px;
                width: 20px;
              }
            }
          }
        }
      }
    }

    .payment-container {
      margin-top: u.rem(20);
      padding-inline: var(--PADDING-INLINE-SM);

      .payment {
        display: flex;
        justify-content: space-around;

        p {
          font-size: u.rem(18);
          font-weight: 700;
          margin-right: u.rem(20);
        }
        .end {
          margin-left: auto;
        }
      }

      .border {
        width: 100%;
        height: 2px;
        background-color: var(--SUB-COLOR);
        margin-top: u.rem(20);
        opacity: 0.5;
      }

      button {
        background-color: var(--SUB-COLOR);
        color: white;
        width: 100%;
        padding: 10px;
        border: none;
        margin-top: u.rem(20);
        font-weight: 700;
        border-radius: u.rem(20);
        box-shadow: var(--BOX-SHADOW);
      }
    }
  }

  &__item {
    margin-top: u.rem(20);
    display: flex;
    align-items: center;
    flex-direction: column;

    .header-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        margin-left: auto;
        padding: u.rem(5);
        font-size: u.rem(12);
        color: white;
        font-weight: 700;
        border: none;
        background-color: var(--MAIN-COLOR);
        border-radius: u.rem(10);
      }
    }

    input {
      padding: u.rem(10) u.rem(15);
      width: 100%;
      margin-inline: auto;
      border: none;
      border-radius: u.rem(10);
      box-shadow: var(--BOX-SHADOW);

      &:active {
        border: 2px solid var(--MAIN-COLOR);
      }
    }

    .item-container {
      margin-top: u.rem(20);
      align-self: flex-start;

      .item-carousel {
        margin-top: u.rem(15);
        display: flex;
        flex-direction: row;
        gap: var(--SM-GAP);
        overflow: scroll;
        button {
          height: 90px;
          width: 120px;
          background: white;
          box-shadow: var(--BOX-SHADOW);
          border-radius: u.rem(10);
          border: none;
          display: grid;
          place-items: center;
          position: relative;
          overflow: hidden;
          z-index: 1;
          background: rgb(255, 255, 255);
          background: var(--CAROUSEL-BG-GRADIENT);

          figure {
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            z-index: -1;

            img {
              width: 100%;
              height: 100%;
              opacity: 0.6;
              object-fit: fill;
            }
          }

          p {
            font-size: u.rem(24);
            font-weight: 700;
            color: white;
            background-color: var(--SUB-COLOR);
            padding: u.rem(5);
            border-radius: u.rem(10);
          }
        }
      }

      .item-all {
        margin-top: u.rem(20);

        .all-container {
          margin-top: u.rem(10);
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: var(--SM-GAP);

          button {
            max-height: u.rem(200);

            padding: u.rem(8);
            display: flex;
            flex-direction: column;
            gap: var(--SM-GAP);
            border: none;
            border-radius: u.rem(10);
            box-shadow: var(--BOX-SHADOW);

            figure {
              width: 100%;
              height: 90px;
              border-radius: u.rem(10);
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: fill;
              }
            }

            p {
              font-size: u.rem(14);
              font-weight: 700;
            }

            .bottom-row {
              display: flex;
              gap: var(--SM-GAP);

              p {
                font-size: u.rem(12);
              }
            }
          }
        }
      }
    }
  }
}
