<section class="sales">
  <section class="sales__dash">
    <div class="item-container">
      <section class="item">
        <figure></figure>

        <div class="item-info">
          <h4>Sample Item Name</h4>
          <div class="price-container">
            <p>PHP: <span>13</span></p>
            <p>Total: <span>26</span></p>
          </div>
        </div>

        <div class="quantity">
          <button type="button" title="minus button">
            <i>
              <svg
                height="512px"
                id="Layer_1"
                style="enable-background: new 0 0 512 512"
                version="1.1"
                viewBox="0 0 512 512"
                width="512px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M417.4,224H94.6C77.7,224,64,238.3,64,256c0,17.7,13.7,32,30.6,32h322.8c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"
                />
              </svg>
            </i>
          </button>

          <p>2</p>

          <button type="button" title="plus button">
            <i>
              <svg
                height="512px"
                id="Layer_1"
                style="enable-background: new 0 0 512 512"
                version="1.1"
                viewBox="0 0 512 512"
                width="512px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M417.4,224H288V94.6c0-16.9-14.3-30.6-32-30.6c-17.7,0-32,13.7-32,30.6V224H94.6C77.7,224,64,238.3,64,256  c0,17.7,13.7,32,30.6,32H224v129.4c0,16.9,14.3,30.6,32,30.6c17.7,0,32-13.7,32-30.6V288h129.4c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"
                />
              </svg>
            </i>
          </button>
        </div>
      </section>

      <section class="item">
        <figure></figure>

        <div class="item-info">
          <h4>Sample Item Name</h4>
          <div class="price-container">
            <p>PHP: <span>13</span></p>
            <p>Total: <span>26</span></p>
          </div>
        </div>

        <div class="quantity">
          <button type="button" title="minus button">
            <i>
              <svg
                height="512px"
                id="Layer_1"
                style="enable-background: new 0 0 512 512"
                version="1.1"
                viewBox="0 0 512 512"
                width="512px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M417.4,224H94.6C77.7,224,64,238.3,64,256c0,17.7,13.7,32,30.6,32h322.8c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"
                />
              </svg>
            </i>
          </button>

          <p>2</p>

          <button type="button" title="plus button">
            <i>
              <svg
                height="512px"
                id="Layer_1"
                style="enable-background: new 0 0 512 512"
                version="1.1"
                viewBox="0 0 512 512"
                width="512px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M417.4,224H288V94.6c0-16.9-14.3-30.6-32-30.6c-17.7,0-32,13.7-32,30.6V224H94.6C77.7,224,64,238.3,64,256  c0,17.7,13.7,32,30.6,32H224v129.4c0,16.9,14.3,30.6,32,30.6c17.7,0,32-13.7,32-30.6V288h129.4c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"
                />
              </svg>
            </i>
          </button>
        </div>
      </section>
    </div>

    <div class="payment-container">
      <div class="payment">
        <p>SubTotal</p>
        <p class="end">{{ "24" | currency : "PHP" }}</p>
      </div>

      <div class="border"></div>

      <button type="button" title="Proceed Button">Proceed</button>
    </div>
  </section>
</section>
