<section class="sales">
  <div class="no-item" *ngIf="cartService.cartData.length <= 0">
    <h2 class="">Your Cart is Empty</h2>
    <p>Looks like you haven't added anything to your cart yet</p>
  </div>
  <section class="sales__dash" *ngIf="cartService.cartData.length > 0">
    <div class="item-container">
      <section class="item" *ngFor="let cart of cartService.cartData">
        <figure>
          <img [src]="cart.itemImg" alt="" />
        </figure>

        <div class="item-info">
          <h4>{{ cart.itemName }}</h4>
          <div class="price-container">
            <p>
              PHP: <span>{{ cart.itemPrice | currency : "PHP" }}</span>
            </p>
            <p>
              Total:
              <span>{{
                cart.itemQty * cart.itemPrice | currency : "PHP"
              }}</span>
            </p>
          </div>
        </div>

        <div class="quantity">
          <button
            type="button"
            title="minus button"
            (click)="minusQuantity(cart)"
          >
            <i>
              <svg
                height="512px"
                id="Layer_1"
                style="enable-background: new 0 0 512 512"
                version="1.1"
                viewBox="0 0 512 512"
                width="512px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M417.4,224H94.6C77.7,224,64,238.3,64,256c0,17.7,13.7,32,30.6,32h322.8c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"
                />
              </svg>
            </i>
          </button>

          <p>{{ cart.itemQty }}</p>

          <button
            type="button"
            title="plus button"
            (click)="plusQuantity(cart)"
          >
            <i>
              <svg
                height="512px"
                id="Layer_1"
                style="enable-background: new 0 0 512 512"
                version="1.1"
                viewBox="0 0 512 512"
                width="512px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M417.4,224H288V94.6c0-16.9-14.3-30.6-32-30.6c-17.7,0-32,13.7-32,30.6V224H94.6C77.7,224,64,238.3,64,256  c0,17.7,13.7,32,30.6,32H224v129.4c0,16.9,14.3,30.6,32,30.6c17.7,0,32-13.7,32-30.6V288h129.4c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"
                />
              </svg>
            </i>
          </button>
        </div>
      </section>
    </div>

    <div class="payment-container">
      <div class="payment">
        <p>SubTotal</p>
        <p class="end">{{ cartService.getTotal() | currency : "PHP" }}</p>
      </div>

      <div class="border"></div>

      <button routerLink="/receipt" type="button" title="Proceed Button">
        Proceed
      </button>
    </div>
  </section>

  <section class="sales__item">
    <input type="text" title="Search Item" placeholder="Search..." />

    <section class="item-carousel">
      <h3>Categories</h3>

      <div class="button-wrapper">
        <button
          type="button"
          *ngFor="let catData of $catData | async"
          (click)="filterCat(catData.category)"
        >
          {{ catData.category }}
        </button>
      </div>
    </section>
    <section class="item-container">
      <section class="item-all">
        <div class="header-container">
          <h3>{{ itemHeader }}</h3>

          <button type="button" *ngIf="isViewAll" (click)="loadData()">
            View All
          </button>
        </div>

        <div class="all-container">
          <button
            type="submit"
            title="item button"
            *ngFor="let itemData of $itemData | async"
            (click)="addToCart(itemData)"
          >
            <figure>
              <img
                [src]="itemData.itemImg"
                alt="Noodle Pic"
                title="Item Img"
                height="4955"
                width="3890"
              />
            </figure>

            <p>{{ itemData.itemName }}</p>

            <div class="bottom-row">
              <p>
                Qty: <span>{{ itemData.itemQty }}</span>
              </p>

              <p>
                Price:
                <span>{{ itemData.itemSelling | currency : "PHP" }}</span>
              </p>
            </div>
          </button>
        </div>
      </section>
    </section>
  </section>
</section>
